.header {
    background-color: navajowhite;
    text-align: center;
    width: 5em;
    margin: auto
}

h2 {
    text-align: center;
    color: rosybrown;
    background-color: mediumaquamarine;
    border-width: 100px;
    width: 10em;
    margin: 1vh auto;
    
}

.button1 {
    display: flex;
    justify-content: center;
    height: 5vh;


}