@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

body {
    background-image: linear-gradient(to right, #ffcdb2, #6d6875);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0
}

div {
    justify-content: center;
    align-items: center;
    margin:  2em;
}

#counter {
    display: block;
    font-family: "Jaro", sanserif;
}

#buttonCounter {
    padding: 2px;
    display: block;
    height: 2em;


}