@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

body {
    background-image: linear-gradient(to right, #ffcdb2, #6d6875);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0
}

div {
    justify-content: center;
    align-items: center;
    margin:  2em;
}

#counter {
    justify-content: center;
    font-family: "Jaro", sanserif;
    text-align: center;
    box-shadow: 5px 5px;
    border-style: solid;
    padding: 1em;
}

#buttonCounter {
    padding: 2px;
    display: inline-flex;
    height: 2em;
    background-image: linear-gradient(to right, #6d6875, #ffcdb2);
    border-radius: 12%;
    font-family: "Jaro", sanserif;
}

#buttonCounter2 {
    padding: 2px;
    display: inline-flex;
    height: 2em;
    background-image: linear-gradient(to right, #6d6875, #ffcdb2);
    border-radius: 12%;
    font-family: "Jaro", sanserif;
}

#buttonCounter3 {
    padding: 2px;
    display: inline-flex;
    height: 2em;
    background-image: linear-gradient(to right, #6d6875, #ffcdb2);
    border-radius: 12%;
    font-family: "Jaro", sanserif;
}

#buttonCount {
    justify-content: center;
    display: block;
    font-size: 5em;
}
